<div class="container-fluid h-100">
    <div class="row h-100" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-2"></div>
        <div class="col col-lg-8 h-100">
            <app-heading></app-heading>
            <br>
            <p>
                Experienced Full Stack Developer with a dynamic 2-year track record of crafting exceptional solutions. I am a Subject Matter Expert (SME) in Angular. During my tenure, I consistently demonstrated unwavering dedication to my work, ensuring on-time completion
                of critical assignments. My profound knowledge of UI development with Angular Script has been a cornerstone of my contributions.
            </p>
            <p>
                In addition to my technical expertise, I possess strong analytical skills and a knack for problem-solving. These qualities have been pivotal in overcoming challenges and driving project success. As my manager noted, I am valued as a key resource for any
                project or team, and I'm committed to maintaining this standard in my future assignments.
            </p>

            <p>
                I take pride in being in the top 3% on TryHackMe, a testament to my passion for cybersecurity and my continuous quest for excellence. This achievement reflects my dedication to staying at the forefront of this ever-evolving field.
            </p>

            <a class="link" (click)='googleAnalytics.sendAnalyticEvent("click_link", "about-me", "tryhackme-link")' href="https://tryhackme.com/p/zang2012" target="_blank">
                Link to my TRYHACKME profile
            </a>

            <br>
            <br>

            <p>
                Currently pursuing a Master of Applied Computer Science at Concordia University, I aim to blend my hands-on expertise with advanced education for maximum impact in the tech landscape. Your best wishes are greatly appreciated as I embark on my journey
                to continuously excel in my career.
            </p>

            <p>
                Some of the technologies that I have trained and worked on include (but are not limited to):
            </p>

            <!-- <ul class="skill-list">
                <li><span class="underline">Angular</span></li>
                <li><span class="underline">HTML & CSS</span></li>
                <li><span class="underline">Express.js</span></li>
                <li><span class="underline">Node.js</span></li>
                <li><span class="underline">Python</span></li>
                <li><span class="underline">Bootstrap, Material</span></li>
                <li><span class="underline">JavaScript, TypeScript</span></li>
                <li><span class="underline">Oracle, SQL, SQLite</span></li>
                <li><span class="underline">Git, Github</span></li>
            </ul> -->
            <div appInfiniteScroll class="scroller" data-direction="left">
                <ul class="tag-list scroller__inner">
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Express.js</li>
                    <li>Node.js</li>
                    <li>Python</li>
                    <li>Bootstrap</li>
                    <li>Material</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Oracle</li>
                    <li>SQL</li>
                    <li>SQLite</li>
                    <li>Git</li>
                    <li>Github</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>