.footer-left-bar::after,
.footer-right-bar::after {
    content: '';
    display: block;
    width: 2px;
    height: 5.625rem;
    margin: 0 auto;
    background-color: var(--accent-color);
    opacity: 0.8;
}

.footer-left-bar li,
.footer-right-bar li {
    list-style: none;
}

.footer-left-bar {
    position: fixed;
    bottom: -1rem;
    left: 2rem;
    padding: 0;
}

.footer-left-bar i {
    font-size: 1.1875rem;
}

.footer-left-bar li {
    margin: 1.25rem 0rem;
    &:last-of-type {
        margin-bottom: 2.0625rem;
    }
}

.footer-right-bar {
    position: fixed;
    bottom: 0rem;
    right: 1rem;
    padding: 0;
}

.footer-right-bar li {
    transform: rotate(90deg);
}

.footer-right-bar a {
    font-size: 0.75rem;
    -webkit-letter-spacing: 0.1em;
    -moz-letter-spacing: 0.1em;
    -ms-letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: 1.25rem auto;
    padding: 0.625rem;
    color: var(--text-color);
}

.footer-right-bar a:hover,
.footer-right-bar a:focus-visible {
    color: var(--accent-color);
}

.footer-credits {
    font-size: 1rem;
    line-height: 1;
    position: absolute;
    /* margin: auto; */
    left: 0;
    right: 0;
    /* margin-top: -3.75rem; */
}


/* .footer-credits a {
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
    &:hover,
    &:focus {
        text-decoration: none;
    }
} */

.footer-credits a {
    text-decoration: none;
    color: var(--text-color);
}

.footer-credits a:hover,
.footer-credits a:focus-visible {
    color: var(--accent-color);
}