<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-2"></div>
    <div class="col col-lg-8 h-100">
      <app-heading></app-heading>
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-12 col-lg-3 m-0 mb-2">
            <ul class="nav-tabs education-tabs nav flex-column">
              <li>
                <a
                  class="nav-link"
                  [ngClass]="{ active: tab === 'Master' }"
                  (click)="
                    selectedTab('Master');
                    googleAnalytics.sendAnalyticEvent(
                      'click_button',
                      'education',
                      'master-button'
                    )
                  "
                  >Master's</a
                >
              </li>
              <li>
                <a
                  class="nav-link"
                  [ngClass]="{ active: tab === 'Bachelor' }"
                  (click)="
                    selectedTab('Bachelor');
                    googleAnalytics.sendAnalyticEvent(
                      'click_button',
                      'education',
                      'master-button'
                    )
                  "
                  >Bachelor's</a
                >
              </li>
            </ul>
          </div>
          <div
            *ngIf="tab === 'Master'"
            class="col-12 col-lg"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            <h4>
              Master of Applied Computer Science
              <em class="highlight">|</em> Concordia University
            </h4>
            <h5>September, 2022 - June, 2024</h5>
            <p>Credits earned: 34</p>
            <p>
              Relevant Courses: Algorithm Design Techniques, Distributed System
              Design, Computer Networks, Software Design Methodologies, Theory
              of Computer Science, Artifical Intelligence, Programming & Problem
              Solving.
            </p>
          </div>

          <div
            *ngIf="tab === 'Bachelor'"
            class="col-12 col-lg"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            <h4>
              B. Tech in Software Engineering <em class="highlight">|</em> SRM
              Institute of Science And Technology
            </h4>
            <h5>July, 2016 - June, 2020</h5>
            <p>Percentage: 83</p>
            <p>
              Relevant Courses: Algorithm Design, Data Structures, Computer
              Networks, Software Engineering, Requirement Engineering, C++,
              Java, Python, Web Development, SOftware Architecture Design, Agile
              Methodologies.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
