<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-2"></div>
    <div class="col col-lg-8 h-100">
      <app-heading></app-heading>
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-12 col-lg-3 m-0 mb-2">
            <ul class="nav-tabs jobs-tabs nav flex-column">
              <li>
                <a
                  class="nav-link"
                  [ngClass]="{ active: tab === 'TCS' }"
                  (click)="
                    selectedTab('TCS');
                    googleAnalytics.sendAnalyticEvent(
                      'click_button',
                      'experience',
                      'tcs-button'
                    )
                  "
                  >TCS</a
                >
              </li>
              <!-- <li>
                                <a class="nav-link" [ngClass]="{'active': tab === 'Google'}" (click)="selectedTab('Google')">Google</a>
                            </li> -->
            </ul>
          </div>
          <div
            *ngIf="tab === 'TCS'"
            class="col-12 col-lg"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <h4>
              System Engineer <em class="highlight">|</em> Tata Consultancy
              Services
            </h4>
            <h5>August, 2020 - August, 2022</h5>
            <p>
              Revamped a legacy application into a single-page application,
              <em class="highlight">reducing</em> the
              <em class="highlight">load time by 30%</em>.
            </p>
            <p>
              Coordinated effectively with stakeholders, ensuring
              <em class="highlight">daily deliverables</em> for the project.
            </p>
            <p>
              Directed a team of 3 professionals,
              <em class="highlight">successfully completing</em> 2 project
              deliverables <em class="highlight">ahead of schedule</em>.
            </p>
            <p>
              Implemented a screenshot functionality,
              <em class="highlight">streamlining</em> defect reporting and task
              requests to the Jira tool, <em class="highlight">increasing</em>
              productivity by 20%.
            </p>
            <p>
              Integrated a mail transaction feature, boosting user engagement on
              the tool by 25%.
            </p>
            <p>
              <em class="highlight">Architected</em> a resilient Node.js server
              infrastructure, enhancing system stability by
              <em class="highlight">reducing server crashes</em> by 80%.
            </p>
            <p>
              Implemented error handling mechanisms to
              <em class="highlight">maintain database connections on errors</em
              >, thereby improving application uptime by 99.9%.
            </p>
            <p>
              Managed deployments of the application on client hosting
              environments, ensuring <em class="highlight">99.9% uptime</em>.
            </p>
            <p>
              Managed application's database tables and queries,
              <em class="highlight">enhancing data retrieval</em> efficiency by
              30% and <em class="highlight">reducing query response</em> time by
              20%.
            </p>
            <p>
              Ensured 100% app accessibility,
              <em class="highlight">enhancing</em> user experience for all.
            </p>
          </div>

          <div
            *ngIf="tab === 'Google'"
            class="col-12 col-lg"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <h4>Software Engineer | Google</h4>
            <h5>August, 2024 - Present</h5>
            <p>
              I spearheaded the enhancement of our web application's
              functionality by designing and engineering high-performance
              RESTful APIs using Node.js and Express.js. This strategic upgrade
              resulted in a remarkable 20% boost in system efficiency,
              significantly improving the user experience.
            </p>
            <p>
              Leading a dynamic 3-person team, I consistently surpassed project
              deadlines and objectives, contributing to an impressive 15%
              increase in project completion rates. My exceptional leadership
              prowess ensured our projects remained on track, delivering results
              efficiently and effectively.
            </p>
            <p>
              I fostered a collaborative work environment, seamlessly
              collaborating with cross-functional teams. By harmonizing diverse
              ideas and delivering optimal solutions, we streamlined processes,
              resulting in a remarkable 25% improvement in project delivery
              times. This synergy drove our projects to success.
            </p>
            <p>
              I effectively communicated technical findings and innovative
              solutions to stakeholders and colleagues. This fostered a culture
              of growth and innovation within the organization, enabling us to
              stay at the forefront of industry trends and technologies.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
