<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-2"></div>
        <div class="col col-lg-8 h-100">
            <app-heading></app-heading>
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-12 col-lg-3 m-0 mb-2">
                        <ul class="nav-tabs jobs-tabs nav flex-column">
                            <li>
                                <a class="nav-link" [ngClass]="{'active': tab === 'TCS'}" (click)="selectedTab('TCS')">TCS</a>
                            </li>
                            <!-- <li>
                                <a class="nav-link" [ngClass]="{'active': tab === 'Google'}" (click)="selectedTab('Google')">Google</a>
                            </li> -->
                        </ul>
                    </div>
                    <div *ngIf="tab === 'TCS'" class="col-12 col-lg">
                        <h4>System Engineer | Tata Consultancy Services</h4>
                        <h5>August, 2020 - August, 2022</h5>
                        <p>I spearheaded the enhancement of our web application's functionality by designing and engineering high-performance RESTful APIs using Node.js and Express.js. This strategic upgrade resulted in a remarkable 20% boost in system efficiency,
                            significantly improving the user experience.</p>
                        <p>Leading a dynamic 3-person team, I consistently surpassed project deadlines and objectives, contributing to an impressive 15% increase in project completion rates. My exceptional leadership prowess ensured our projects remained
                            on track, delivering results efficiently and effectively.</p>
                        <p> I fostered a collaborative work environment, seamlessly collaborating with cross-functional teams. By harmonizing diverse ideas and delivering optimal solutions, we streamlined processes, resulting in a remarkable 25% improvement
                            in project delivery times. This synergy drove our projects to success.</p>
                        <p>I effectively communicated technical findings and innovative solutions to stakeholders and colleagues. This fostered a culture of growth and innovation within the organization, enabling us to stay at the forefront of industry trends
                            and technologies.</p>
                    </div>

                    <div *ngIf="tab === 'Google'" class="col-12 col-lg">
                        <h4>Software Engineer | Google</h4>
                        <h5>August, 2024 - Present</h5>
                        <p>I spearheaded the enhancement of our web application's functionality by designing and engineering high-performance RESTful APIs using Node.js and Express.js. This strategic upgrade resulted in a remarkable 20% boost in system efficiency,
                            significantly improving the user experience.</p>
                        <p>Leading a dynamic 3-person team, I consistently surpassed project deadlines and objectives, contributing to an impressive 15% increase in project completion rates. My exceptional leadership prowess ensured our projects remained
                            on track, delivering results efficiently and effectively.</p>
                        <p> I fostered a collaborative work environment, seamlessly collaborating with cross-functional teams. By harmonizing diverse ideas and delivering optimal solutions, we streamlined processes, resulting in a remarkable 25% improvement
                            in project delivery times. This synergy drove our projects to success.</p>
                        <p>I effectively communicated technical findings and innovative solutions to stakeholders and colleagues. This fostered a culture of growth and innovation within the organization, enabling us to stay at the forefront of industry trends
                            and technologies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>