<div class="container-fluid p-0 pb-5 pr-lg-5 pl-lg-5">
    <div class="row">
        <div class="col-12">
            <app-heading></app-heading>
        </div>
    </div>
    <div class="row m-0 mr-2 ml-2 mb-3" data-aos="fade-up" data-aos-duration="1000">
        <div class="container-fluid p-0 pr-3">
            <div class="row">
                <div class="col-12">
                    <h5 class="featured-project-heading">
                        Featured Project
                    </h5>
                    <h4>
                        Personal Portfolio
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 project-description p-0">
            <p class="p-2 m-0">
                My Angular-based personal portfolio is more than just a collection of projects and experiences; it's a visual journey that blends aesthetics and animations to create an engaging and memorable user experience. As you explore my portfolio, you'll be greeted
                with sleek design and captivating animations that make the presentation of my work truly stand out. Each project is presented with meticulous attention to detail, providing visitors with a deep dive into my skills and accomplishments.
                Additionally, my professional journey is brought to life through interactive elements and engaging visuals, turning my portfolio into a dynamic narrative rather than a static display. In essence, my Angular portfolio is a testament to
                my commitment to combining form and function in web development, making it an engaging showcase of my talents and experiences.
            </p>
        </div>
        <div class="d-none col-lg-6">
            <img src="./assets/personal-portfolio.png" alt="project-image-1" class="project-image">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 p-0">
                    <ul class="project-skills justify-content-start">
                        <li class="ml-3">
                            <span class="underline">
                                Angular
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                Bootstrap
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                HTML
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                CSS
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 p-0">
                    <a href="https://gup-abhi.github.io/personal-portfolio/">
                        <i class="ml-3 fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 mr-2 ml-2 mb-3" data-aos="fade-up" data-aos-duration="1000">
        <div class="container-fluid p-0 pr-3">
            <div class="row">
                <div class="col-12 col-lg-3 offset-lg-9">
                    <h5 class="featured-project-heading text-lg-right">
                        Featured Project
                    </h5>
                    <h4 class="text-lg-right">
                        Top 250 Movies
                    </h4>
                </div>
            </div>
        </div>
        <div class="d-none col-lg-6">
            <img src="./assets/top-250-movies.png" alt="project-image-2" class="project-image">
        </div>
        <div class="col-12 col-lg-6 project-description p-0">
            <p class="p-2 m-0">
                In this full-stack project, we developed a robust Node.js server that leverages open APIs from IMDB to retrieve and store data on the top 250 movies. Advanced data management techniques were used to optimize data storage in a SQLite database. Our Node.js
                APIs were designed following industry standards for reliability and performance. To enhance code maintainability and scalability, we incorporated advanced design patterns like the Singleton pattern and data object model. On the front-end,
                we crafted an engaging and responsive interface using Angular, along with a search functionality for easy title retrieval and detailed movie information, enhancing the overall user experience.
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-6 p-0">
                    <ul class="project-skills justify-content-lg-end">
                        <li class="ml-3">
                            <span class="underline">
                                Angular
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                Node
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                Bootstrap
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                SQLite
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-6 p-0">
                    <a class="d-lg-flex justify-content-lg-end" href="https://top-250-movies.onrender.com/">
                        <i class="ml-3 fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 mr-2 ml-2 mb-3" data-aos="fade-up" data-aos-duration="1000">
        <div class="container-fluid p-0 pr-3">
            <div class="row">
                <div class="col-12">
                    <h5 class="featured-project-heading">
                        Featured Project
                    </h5>
                    <h4>
                        Django Blog
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 project-description p-0">
            <p class="p-2 m-0">
                This Django project involved the creation of a dynamic blog website, utilizing Django framework, HTML, and Bootstrap to ensure an engaging user experience. Robust user authentication features were implemented, including user registration, login, and password
                reset, all facilitated through email. Users were encouraged to personalize their profiles by adding profile pictures, enhancing their engagement and identity within the platform. Content management was made seamless, allowing users to
                create, update, and delete posts with full control. A comprehensive commenting system was integrated, enabling users to express their thoughts on posts, with authors having moderation capabilities. The project also integrated the SummerNote
                editor, empowering users to customize their posts, including the addition of multimedia elements, fostering rich and interactive content creation on the platform.
            </p>
        </div>
        <div class="d-none col-lg-6">
            <img src="./assets/django-blog.png" alt="project-image-3" class="project-image">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 p-0">
                    <ul class="project-skills justify-content-start">
                        <li class="ml-3">
                            <span class="underline">
                                Django
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                Bootstrap
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                Python
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline">
                                SQLite
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 p-0">
                    <a href="https://django-blog-oclq.onrender.com/">
                        <i class="ml-3 fas fa-external-link-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 mr-2 ml-2 mb-3" data-aos="fade-up" data-aos-duration="1000">
        <div class="container-fluid p-0 pr-3">
            <div class="row">
                <div class="col-12 col-lg-3 offset-lg-9">
                    <h5 class="featured-project-heading text-lg-right">
                        Featured Project
                    </h5>
                    <h4 class="text-lg-right">
                        Space Invader Game
                    </h4>
                </div>
            </div>
        </div>
        <div class="d-none col-lg-6">
            <img src="./assets/space-invader.png" alt="project-image-4" class="project-image">
        </div>
        <div class="col-12 col-lg-6 project-description p-0">
            <p class="p-2 m-0">
                I took a trip down memory lane by creating my own version of the beloved classic, "Space Invader," using Python and the pygame module. In this nostalgic game, the objective is to defend our planet from an incoming alien invasion. Players are in control
                of a spaceship and must skillfully eliminate the alien invaders to rack up points and thwart the relentless attack. The stakes get higher as the aliens inch closer to the spaceship, and the game reaches its climax when one of them breaches
                the defenses. At that moment, your final score is revealed, providing a testament to your gaming prowess. It's a thrilling and engaging experience that captures the essence of arcade gaming from the past.
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-6 p-0">
                    <ul class="project-skills justify-content-lg-end">
                        <li class="ml-3">
                            <span class="underline">
                                Python
                            </span>
                        </li>
                        <li class="ml-3">
                            <span class="underline rounded-full">
                                Pygame
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>